<fieldset>
    <legend>Basic usage</legend>
    <ul>
        <li>
            <a asp-action="Download" asp-controller="Home">下载测试</a>
        </li>
    </ul>
</fieldset>

<fieldset style="margin-top: 15px">
    <legend>Upload an xlsx file</legend>
    <form method="post"
          asp-action="FileInsert"
          asp-controller="Home"
          enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
        <input type="hidden" name="uploadType" value="1" />
    </form>

    <form method="post"
          asp-action="FileUpdate"
          asp-controller="Home"
          enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
</fieldset>
